/* Hide Mobile */
.h-m{
display:none!important;
}
.h-tm{
display:none;
}
.h-mo{
display:block;
}

/*burger menu*/
.menu-selection-wrap{
width:100%;
}

/*log menu style */
.log-mob-button1{
display:table;
height:100%;
position:absolute;
width:50px;
top:25%;
z-index:10;
}
.log-mob-button1 > div{
background-color:rgba(255,255,255,0.1);
box-shadow:inset 0 0 0 2px #fff;
border-radius:50%;
color:#fff;
display:table-cell;
font-size:24px;
line-height:30px;
text-align:center;
padding:10px 0;
vertical-align:middle;
width:50px;
}
.log-mob-button2{
display:table;
height:100%;
position:absolute;
width:50px;
top:25%;

transition:all 0s ease;
}
.log-mob-button2.left{
-webkit-transform:translate(-100px,0);
-moz-transform:translate(-100px,0);
-ms-transform:translate(-100px,0);
transform:translate(-100px,0);
}
.log-mob-button2.right{
-webkit-transform:translate(100px,0);
-moz-transform:translate(100px,0);
-ms-transform:translate(100px,0);
transform:translate(100px,0);
}
.links .log-mob-button2,.amounts .log-mob-button2{
transition:all .4s ease .3s;

-webkit-transform:translate(0,0) scale(1);
-moz-transform:translate(0,0) scale(1);
-ms-transform:translate(0,0) scale(1);
transform:translate(0,0) scale(1);
}
.log-mob-button2.left{
opacity:0;
left:0;
}
.log-mob-button2.right{
opacity:0;
right:0;
}
.log-mob-button2 > div{
background-color:rgba(0,0,0,0.5);
box-shadow:inset 0 0 0 2px #000;
color:#fff;
display:table-cell;
font-size:20px;
line-height:30px;
text-align:center;
padding:20px 0;
position:absolute;
vertical-align:middle;
width:70px;


-webkit-transform:rotate(45deg);
-moz-transform:rotate(45deg);
-ms-transform:rotate(45deg);
transform:rotate(45deg);
}
.log-mob-button2.left > div{
left:-70%;
}
.log-mob-button2.right > div{
right:-70%;
}
.log-mob-button2 i{
position:relative;
-webkit-transform:rotate(-45deg);
-moz-transform:rotate(-45deg);
-ms-transform:rotate(-45deg);
transform:rotate(-45deg);
}
.log-mob-button2.left i{
top:-10px;
left:10px;
}
.log-mob-button2.right i{
top:10px;
right:10px;
}
.amounts .log-mob-button2.left{
opacity:.7;
}
.links .log-mob-button2.right{
opacity:.7;
}
.log-linker-open{
left:8%;
transition:all .3s ease .35s;
-webkit-transform:translate3d(100px,0,0) scale(0);
-moz-transform:translate3d(100px,0,0) scale(0);
-ms-transform:translate3d(100px,0,0) scale(0);
transform:translate3d(100px,0,0) scale(0);
}
.roboSlide2-wrap.show .log-linker-open{
-webkit-transform:translate3d(0,0,0) scale(1);
-moz-transform:translate3d(0,0,0) scale(1);
-ms-transform:translate3d(0,0,0) scale(1);
transform:translate3d(0,0,0) scale(1);
}
.log-amounter-open{
right:8%;
transition:all .3s ease .45s;
-webkit-transform:translate3d(-100px,0,0) scale(0);
-moz-transform:translate3d(-100px,0,0) scale(0);
-ms-transform:translate3d(-100px,0,0) scale(0);
transform:translate3d(-100px,0,0) scale(0);
}
.log-amounter-open.alert > div{
background-color:rgba(255,0,0,0.2);
box-shadow:inset 0 0 0 2px #ff0000;
}
.roboSlide2-wrap.show .log-amounter-open{
-webkit-transform:translate3d(0,0,0) scale(1);
-moz-transform:translate3d(0,0,0) scale(1);
-ms-transform:translate3d(0,0,0) scale(1);
transform:translate3d(0,0,0) scale(1);
}

.robo-menu-wrap.log{
height:90%;
height:calc(100% - 50px);
}
.roboSlide1-master{
transition:all 0 ease!important;
}
.roboSlide1-master.hide{
-webkit-transform:translate3d(0,90%,0);
-moz-transform:translate3d(0,90%,0);
-ms-transform:translate3d(0,90%,0);
transform:translate3d(0,90%,0);

-webkit-transform:translate3d(0,calc(100% - 50px),0);
-moz-transform:translate3d(0,calc(100% - 50px),0);
-ms-transform:translate3d(0,calc(100% - 50px),0);
transform:translate3d(0,calc(100% - 50px),0);
}

.log-bg-spinner{
top:50%;
}
.log-menu-table{
width:100%;
}
.log-menu-table.nodelay{
transition:all .3s ease 0!important;
}
.log-menu-table.links{
-webkit-transform:translate3d(100%,0,0) rotate(0deg)!important;
-moz-transform:translate3d(100%,0,0) rotate(0deg)!important;
-ms-transform:translate3d(100%,0,0) rotate(0deg)!important;
transform:translate3d(100%,0,0) rotate(0deg)!important;
transition:all .3s ease 0!important;
}
.log-menu-table.amounts{
-webkit-transform:translate3d(-100%,0,0) rotate(0deg)!important;
-moz-transform:translate3d(-100%,0,0) rotate(0deg)!important;
-ms-transform:translate3d(-100%,0,0) rotate(0deg)!important;
transform:translate3d(-100%,0,0) rotate(0deg)!important;
transition:all .3s ease 0!important;
}
.linkers,.amounters{
padding:0 18%;
}
.user-link{
width:100%;
}
.log-section-cell{
width:100%;
}
.user-name{
font-size:24px;
}
.linkers{
display:block;
position:absolute;
left:-100%;
}
.amounters{
display:block;
position:absolute;
right:-100%;
}
.user-rank-wrap{
left:25%;
width:50%;
}

.margin-tier1{

}
.main-nav{
width:50px;
}
.top-ad-wrap{
background-color:#333;
margin-top:50px;
overflow:hidden;
padding:2px 0;
}
.mb-align{
float:left;
width:100%;
}
.main-body::after{
display:none;
}
.main-body::before{
display:none;
}
.header-container{
border:0;
box-shadow:0 0 0 0 #000;
}
.header-wrap{
float:left;
height:50px;
position:relative;
}
.rogo-wrap{
position:absolute;
text-align:center;
width:100%;
}
.logo-wrap > div{
background-size:100%;
height:26px;
position:relative;
margin:5px auto 0 auto;
width:26px;
left:0;
}
.logo-text{
font-size:15px;
line-height:15px;
margin:0;
position:relative;
text-align:center;
}
.logo-wrap{

}
.logo-text{

}
.main-opt-text{
display:none;
}
.main-opt-wrap{
background-color:transparent;
box-shadow:none; 
height:50px;
margin:0;
padding:0;
}
.main-opt{
margin-top:5px;
margin-right:5px!important;
}
.main-opt.chat{
display:none;
}
.main-opt.search{
display:none;
}
.main-nav-wrap{
margin:0;
}
.main-nav-wrap.show{
background-color:#111;
position:relative;
width:100%;
}

.main-nav{
display:none;
}
.openburger{
background-image:url(../images/hamburger.png);
background-position:center;
background-repeat:no-repeat;
background-size:70%;
display:block!important;
float:left;
height:49px;
position:relative;
width:49px;
}

.wide-right-side-marg{
margin:0;
}
.wide-right-side-bar,.wide-left-side-marg{
float:left;
position:relative;
width:100%;
}
.r-m-title-hide{
display:none;
}
.robo-meni-search-wrap{
left:0;
}
.robo-meni-search-wrap > input{
height:34px;
float:left;
margin-top:12px;
width:160px;
left:10px;
}
.robo-menu-close{
background-color:#111;
border-radius:0;
font-size:36px;
line-height:36px;
padding:8px;
right:0;
}
.robo-menu-title-wrap{
box-shadow:0 0 10px 0 #000;
font-size:26px;
line-height:34px;
padding:10px;
right:0;
}
.roboStuff-content-1{
margin:60px auto;
}
.roboSlide1-wrap{
-webkit-transform:translate3d(0,0,0);
-moz-transform:translate3d(0,0,0);
-ms-transform:translate3d(0,0,0);
transform:translate3d(0,0,0);
}
.side-bar-soc-wrap::before{
display:none;
}

/* section nav */

.icon-nav-link > span{
font-size:12px;
}
.icon-nav-link{
border:0!important;
}
.icon-nav-link.here > span{
background-color:transparent;
min-width:100%;
border:0;
top:0;
}
.breadcrumbs-holder{
float:left;
height:56px;
width:100%;
}
.breadcrumbs-wrap{
padding:7px 0 20px 0;
position:relative;
z-index:0;

transition:all 0s ease;
}
.breadcrumbs-wrap.show{
background-color:#222;
box-shadow:0 0 25px 5px #000;
height:auto;

z-index:10;
}
.breadcrumbs-wrap li{
opacity:0;
padding:10px 0;
}
.breadcrumbs-wrap.show li{
clear:both;
display:block;
opacity:1;
width:100%;
}
.breadcrumbs-wrap li:nth-child(1){
clear:none;
display:block;
float:right;
opacity:1;
padding-left:10px;
position:relative;
width:auto;
}
.breadcrumbs-wrap li:nth-child(1):after{
background-color:rgba(255,255,255,0.3);
content:"";
display:block;
height:100%;
position:absolute;
top:0;
left:0;
width:1px;
}
.breadcrumbs-wrap li:nth-child(2){
clear:none;
display:inline-block;
float:left;
opacity:1;
padding-left:10px;
width:auto;
}
.breadcrumbs-wrap li:nth-child(1)::before{
content:"\f078"!important;
float:right;
margin:0 0 0 12px;

-webkit-transform:rotate(0deg);
-moz-transform:rotate(0deg);
-ms-transform:rotate(0deg);
transform:rotate(0deg);

transition:all .25s ease;
}
.breadcrumbs-wrap.show li:nth-child(1)::before{
-webkit-transform:rotate(-180deg);
-moz-transform:rotate(-180deg);
-ms-transform:rotate(-180deg);
transform:rotate(-180deg);
}
.breadcrumbs-wrap li{
clear:both;
}
.breadcrumbs-wrap li::before{
content:'\f148';

-webkit-transform:rotate(90deg);
-moz-transform:rotate(90deg);
-ms-transform:rotate(90deg);
transform:rotate(90deg);
}
.breadcrumbs-wrap li::after{
background-color:rgba(255,255,255,.05);
content:"";
height:1px;
position:absolute;
width:100%;

bottom:0px;
right:0px;
}
.breadcrumbs-wrap li:nth-child(2)::after{
display:none;
}
.breadcrumbs-wrap li:nth-child(3){
-webkit-transform:translate3d(-20px,0,0);
transform:translate3d(-20px,0,0);
padding-left:20px;

transition:all .2s ease 0s;
}
.breadcrumbs-wrap.show li:nth-child(3){
-webkit-transform:translate3d(0,0,0);
transform:translate3d(0,0,0);

transition:all .3s ease .3s;
}

.breadcrumbs-wrap li:nth-child(4){
-webkit-transform:translate3d(-20px,0,0);
transform:translate3d(-20px,0,0);
padding-left:40px;

transition:all .2s ease 0;
}
.breadcrumbs-wrap.show li:nth-child(4){
-webkit-transform:translate3d(0,0,0);
transform:translate3d(0,0,0);

transition:all .4s ease .3s;
}

.breadcrumbs-wrap li:nth-child(5){
-webkit-transform:translate3d(-20px,0,0);
transform:translate3d(-20px,0,0);
padding-left:60px;

transition:all .2s ease 0s;
}
.breadcrumbs-wrap.show li:nth-child(5){
-webkit-transform:translate3d(0,0,0);
transform:translate3d(0,0,0);

transition:all .5s ease .3s;
}

.breadcrumbs-wrap li:nth-child(6){
-webkit-transform:translate3d(-20px,0,0);
transform:translate3d(-20px,0,0);
padding-left:80px;

transition:all .6s ease .3s;
}
.breadcrumbs-wrap.show li:nth-child(6){
-webkit-transform:translate3d(0,0,0);
transform:translate3d(0,0,0);
}

/* Side Anchor */

.anch-mob-menu{
border-bottom:1px dotted #fff;
height:34px;
position:absolute;
width:100%;
left:0;
top:0;
}
.lanchor-wrap{
padding:0;
bottom:0;
width:100%!important;
}
.lanchor-wrap.no > div{
max-height:32px;
float:left;
width:100%;
transition:all .1s ease;
}
.lanchor-wrap.show > div{
max-height:500px;
float:left;
width:100%;
transition:all .2s ease;
}
.lanchor-wrap.show .anch-menu .icon{
background-image:url(../images/close.png);
}
.anch-menu{
background-color:#111;
float:left;
width:100%;
}
.anch-menu .icon{
float:right;
}
.anch-menu .icon,.anch-alt-menu .icon{
background-size:28px;
height:34px;
width:40px;
}
.anch-menu span{
color:#ddd;
float:left;
font-size:19px;
line-height:34px;
margin:0 0 0 6px;
}
.anch-alt-menu .title-wrap{
height:34px;
}
.anch-alt-menu  .subtitle{
display:none;
}
.anch-alt-menu  .title{
font-size:18px;
line-height:34px;
}
.anch-alt-menu .ham{
background-position:center;
background-repeat:no-repeat;
background-size:28px;
float:right;
height:34px;
width:40px;
}
.lanchor-wrap.no .ham{
background-image:url(../images/smallburger.png);
}
.lanchor-wrap.show .ham{
background-image:url(../images/close.png);
}

/* PANEL POP UP */

.panel-pop-wrap > div{
-webkit-transition:all .2s ease;
transition:all .2s ease;
}
.bubble-wrap{
transition:all .4s ease;
}
.panel-pop-wrap.no .bubble-wrap{
opacity:0;
}
.panel-pop-wrap.show .bubble-wrap{
opacity:1;
}

/* ROBO INPUTS */
.toggle-wrap > span{
padding:3px 0;
}
.toggle-wrap.two > span{
padding:0 7px;
}
.toggle-wrap.three > span{
width:50px;
}

/* Bubbles */
.tallscroll .bubble-wrap > div{
width:100%;
}


/* SIDE BAR STYLE */

.lsb-mob-hide{
float:left;
overflow:hidden;
width:100%;
transition:all .5s ease;
}
.lsb-mob-hide.no{
max-height:0;
}
.lsb-mob-hide.show{
max-height:1200px;
padding:10px;
}
.lsb-menu-open{
float:right;
}
.lsb-menu-close{
float:right;
}
.lsb-menu.no .lsb-menu-open{
display:none;
}
.lsb-menu.show .lsb-menu-close{
display:none;
}
.lide-title{
color:#222;
padding:8px 0 0 4px;
}

/* PAGE */

.page{
padding:0 10px 140px 10px;
}
.page .split{
padding:0;
}

.rmenu-center-buttons-wrap{
margin-top:7px;
}

/* Footer */
.ft-copy-wrap{
text-align:center;
}
.ft-copy-wrap span{
display:inline-block;
float:left;
padding:0 20px;
text-align:center;
width:100%;
}
.ft-copy-wrap a{
margin:10px 10px;
}
.ft-links-wrap{
display:none;
}

.top-de-wrap-st{
margin-top:56px;
}


.p4-head-wrap{
height:60px;
}
.p4-logo-wp{
background-size:74px;
background-position:center bottom;
height:50px;
margin-top:2px;
width:74px;
}
.p4-logo-wp i{
display:none;
}


.p4-ca-bt{
color:#40e35b;
background-color:rgba(0,0,0,.0);
line-height:28px;
font-size:28px;
padding:10px 0;
text-align:center;
width:44px;
}
.p4-ca-bt:hover{
background-color:rgba(0,0,0,.0);
}
.p4-ca-bt-wp{
margin-top:4px;
}
.p4-ca-nu{
display:none;
}
.p4-ap-bt{
display:block;
font-size:28px;
line-height:28px;
margin-right:12px;
padding:10px 0;
width:44px;
}
.p4-log-bt-wp{
margin-top:4px;
}
.p4-main-opt{
box-shadow:0 0 0 0;
height:38px;
margin-top:5px;
margin-left:12px;
top:0;
width:38px;
}
.p4-main-opt.alert > i{
font-size:10px;
line-height:20px;
height:20px;
width:20px;
}
