.sp-prod-wrap{
border-color:#ddd;
border-style:solid;
border-width:0 1px 1px 0;
height:230px;
width:33.33%;
}

/* PRODUCT PAGE */

.product-main-wrap{
margin:0 290px 0 0;
}
.product-side-bar-wrap{
background-color:#fff;
border-left:4px solid #eee;
clear:right;
float:right;
height:100%;
position:absolute;
right:0;
width:290px;
}
.product-wrap > .title{
float:right;
margin:20px 0 0 0;
width:60%;
}
.product-wrap > .title > .name{
font-size:36px;
}
.product-wrap > .title > .name > div{
margin:10px 0 0 30px;
}
.product-wrap > .title > .rating > div{
margin:0 0 0 50px;
}
.prod-gall-leftbuff{
float:left;
height:340px;
position:relative;
width:40%;
}
.product-wrap > .gallery{
float:left;
height:100%;
position:absolute;
width:40%;
}
.product-wrap > .gallery > .image > .pad{
padding:0 0 0 60px;
}
.product-wrap > .gallery > .image > div > img{
max-width:240px;
width:70%;
}
.prod-simg-div > img{
padding:8px 1px;
}
.product-wrap > .cost{
width:60%;
}
.product-wrap > .cost > .price > div{
margin:4px 0 0 50px;
}
.product-wrap > .add{
position:absolute;
right:-297px;
width:300px;
z-index:400;
}
.product-wrap > .add > div{
margin:10px 20px 0 20px;
position:relative;
}
.cart-stick{
position:relative;
width:260px;
}
.cart-stick.fixed{
position:fixed;
top:80px;
}
.product-file-wrap{
padding:10px;
}
.prodcut-details-table{
margin:10px 0 0 30px;
}
.product-wrap > .details > .desc{
margin:10px 40px 0 40px;
}
.full-details-wrap > div{
margin:20px 0 0 40px;
}
.store-item-wrap.prod{
width:25%;
}

/* CART */

.cart-main-wrap{
margin:0 320px 0 0;
}
.cart-table{
display:table;
}
.cart-table-head-row{
display:table-row;
}
.cart-table-head-row > div{
border-color:#eee;
border-style:solid;
border-width:0 0 4px 0;
}
.item2{
padding:0 0 0 40px;
}
.three2{
padding-left:40px!important;
}
.cart-table-row{
display:table-row;
height:140px;
}
.cart-table-row.two{
height:auto;
}
.cart-table-row:hover{
background-color:#f8f8f8;
}
.cart-table-col{
border-color:#eee;
border-style:solid;
border-width:0 0 2px 0;
display:table-cell;
padding:10px 0;
text-align:center;
}
.cart-table-col.six{
padding:0 20px 0 20px;
}
.cartbar-wrap{
height:100%;
right:0;
position:absolute;
top:10px;
width:310px;
}
.checkout-table{
float:left; 
width:300px;
}
.cart-marg{
margin:0 330px 0 0;
}
.checkout-side{
border-color:#eee;
border-style:solid;
border-width:0 0 0 4px;
height:100%;
position:absolute;
width:330px;
top:0;
right:0;
}
.checkout-side.checkout-dark{
background-color:#111;
color:#fff;
}
.checkout-side .checkout-dark{
color:#ccc;
}

/* COMMENTS */

.com-avatar-wrap > a > span{
left:31px;
bottom:-18px;
}
.com-avatar-wrap > a > img{
width:80px;
}
.com-content{
margin:0 0 0 70px;
}

.sr-hl-butn-wrap{
width:33.33%;
}
.desc-main-text-01{
padding:6px 52px 10px 22px!important;
}
.sr-hl-ttl-wrap{
padding:0 50px 0 0;
}

.related-products-wrap .sp-prod-wrap{
width:50%!important;
}
