body:after
{
display: none;
}
.pmi{
background:url(../images/assembly.pnk) left top no-repeat;
display:inline-block;
width:32px; height:32px;
margin:auto;
}

.pmi000{background-position: -320px -672px;}
.pmi001{background-position: -0px -0px;}
.pmi002{background-position: -32px -0px;}
.pmi003{background-position: -64px -0px;}
.pmi004{background-position: -96px -0px;}
.pmi005{background-position: -128px -0px;}
.pmi006{background-position: -160px -0px;}
.pmi007{background-position: -192px -0px;}
.pmi008{background-position: -224px -0px;}
.pmi009{background-position: -256px -0px;}
.pmi010{background-position: -288px -0px;}
.pmi011{background-position: -320px -0px;}
.pmi012{background-position: -352px -0px;}
.pmi013{background-position: -384px -0px;}
.pmi014{background-position: -416px -0px;}
.pmi015{background-position: -448px -0px;}
.pmi016{background-position: -480px -0px;}
.pmi017{background-position: -512px -0px;}
.pmi018{background-position: -544px -0px;}
.pmi019{background-position: -576px -0px;}
.pmi020{background-position: -608px -0px;}
.pmi021{background-position: -640px -0px;}
.pmi022{background-position: -672px -0px;}
.pmi023{background-position: -704px -0px;}
.pmi024{background-position: -0px -32px;}
.pmi025{background-position: -32px -32px;}
.pmi026{background-position: -64px -32px;}
.pmi027{background-position: -96px -32px;}
.pmi028{background-position: -128px -32px;}
.pmi029{background-position: -160px -32px;}
.pmi030{background-position: -192px -32px;}
.pmi031{background-position: -224px -32px;}
.pmi032{background-position: -256px -32px;}
.pmi033{background-position: -288px -32px;}
.pmi034{background-position: -320px -32px;}
.pmi035{background-position: -352px -32px;}
.pmi036{background-position: -384px -32px;}
.pmi037{background-position: -416px -32px;}
.pmi038{background-position: -448px -32px;}
.pmi039{background-position: -480px -32px;}
.pmi040{background-position: -512px -32px;}
.pmi041{background-position: -544px -32px;}
.pmi042{background-position: -576px -32px;}
.pmi043{background-position: -608px -32px;}
.pmi044{background-position: -640px -32px;}
.pmi045{background-position: -672px -32px;}
.pmi046{background-position: -704px -32px;}
.pmi047{background-position: -0px -64px;}
.pmi048{background-position: -32px -64px;}
.pmi049{background-position: -64px -64px;}
.pmi050{background-position: -96px -64px;}
.pmi051{background-position: -128px -64px;}
.pmi052{background-position: -160px -64px;}
.pmi053{background-position: -192px -64px;}
.pmi054{background-position: -224px -64px;}
.pmi055{background-position: -256px -64px;}
.pmi056{background-position: -288px -64px;}
.pmi057{background-position: -320px -64px;}
.pmi058{background-position: -352px -64px;}
.pmi059{background-position: -384px -64px;}
.pmi060{background-position: -416px -64px;}
.pmi061{background-position: -448px -64px;}
.pmi062{background-position: -480px -64px;}
.pmi063{background-position: -512px -64px;}
.pmi064{background-position: -544px -64px;}
.pmi065{background-position: -576px -64px;}
.pmi066{background-position: -608px -64px;}
.pmi067{background-position: -640px -64px;}
.pmi068{background-position: -672px -64px;}
.pmi069{background-position: -704px -64px;}
.pmi070{background-position: -0px -96px;}
.pmi071{background-position: -32px -96px;}
.pmi072{background-position: -64px -96px;}
.pmi073{background-position: -96px -96px;}
.pmi074{background-position: -128px -96px;}
.pmi075{background-position: -160px -96px;}
.pmi076{background-position: -192px -96px;}
.pmi077{background-position: -224px -96px;}
.pmi078{background-position: -256px -96px;}
.pmi079{background-position: -288px -96px;}
.pmi080{background-position: -320px -96px;}
.pmi081{background-position: -352px -96px;}
.pmi082{background-position: -384px -96px;}
.pmi083{background-position: -416px -96px;}
.pmi084{background-position: -448px -96px;}
.pmi085{background-position: -480px -96px;}
.pmi086{background-position: -512px -96px;}
.pmi087{background-position: -544px -96px;}
.pmi088{background-position: -576px -96px;}
.pmi089{background-position: -608px -96px;}
.pmi090{background-position: -640px -96px;}
.pmi091{background-position: -672px -96px;}
.pmi092{background-position: -704px -96px;}
.pmi093{background-position: -0px -128px;}
.pmi094{background-position: -32px -128px;}
.pmi095{background-position: -64px -128px;}
.pmi096{background-position: -96px -128px;}
.pmi097{background-position: -128px -128px;}
.pmi098{background-position: -160px -128px;}
.pmi099{background-position: -192px -128px;}
.pmi100{background-position: -224px -128px;}
.pmi101{background-position: -256px -128px;}
.pmi102{background-position: -288px -128px;}
.pmi103{background-position: -320px -128px;}
.pmi104{background-position: -352px -128px;}
.pmi105{background-position: -384px -128px;}
.pmi106{background-position: -416px -128px;}
.pmi107{background-position: -448px -128px;}
.pmi108{background-position: -480px -128px;}
.pmi109{background-position: -512px -128px;}
.pmi110{background-position: -544px -128px;}
.pmi111{background-position: -576px -128px;}
.pmi112{background-position: -608px -128px;}
.pmi113{background-position: -640px -128px;}
.pmi114{background-position: -672px -128px;}
.pmi115{background-position: -704px -128px;}
.pmi116{background-position: -0px -160px;}
.pmi117{background-position: -32px -160px;}
.pmi118{background-position: -64px -160px;}
.pmi119{background-position: -96px -160px;}
.pmi120{background-position: -128px -160px;}
.pmi121{background-position: -160px -160px;}
.pmi122{background-position: -192px -160px;}
.pmi123{background-position: -224px -160px;}
.pmi124{background-position: -256px -160px;}
.pmi125{background-position: -288px -160px;}
.pmi126{background-position: -320px -160px;}
.pmi127{background-position: -352px -160px;}
.pmi128{background-position: -384px -160px;}
.pmi129{background-position: -416px -160px;}
.pmi130{background-position: -448px -160px;}
.pmi131{background-position: -480px -160px;}
.pmi132{background-position: -512px -160px;}
.pmi133{background-position: -544px -160px;}
.pmi134{background-position: -576px -160px;}
.pmi135{background-position: -608px -160px;}
.pmi136{background-position: -640px -160px;}
.pmi137{background-position: -672px -160px;}
.pmi138{background-position: -704px -160px;}
.pmi139{background-position: -0px -192px;}
.pmi140{background-position: -32px -192px;}
.pmi141{background-position: -64px -192px;}
.pmi142{background-position: -96px -192px;}
.pmi143{background-position: -128px -192px;}
.pmi144{background-position: -160px -192px;}
.pmi145{background-position: -192px -192px;}
.pmi146{background-position: -224px -192px;}
.pmi147{background-position: -256px -192px;}
.pmi148{background-position: -288px -192px;}
.pmi149{background-position: -320px -192px;}
.pmi150{background-position: -352px -192px;}
.pmi151{background-position: -384px -192px;}
.pmi152{background-position: -416px -192px;}
.pmi153{background-position: -448px -192px;}
.pmi154{background-position: -480px -192px;}
.pmi155{background-position: -512px -192px;}
.pmi156{background-position: -544px -192px;}
.pmi157{background-position: -576px -192px;}
.pmi158{background-position: -608px -192px;}
.pmi159{background-position: -640px -192px;}
.pmi160{background-position: -672px -192px;}
.pmi161{background-position: -704px -192px;}
.pmi162{background-position: -0px -224px;}
.pmi163{background-position: -32px -224px;}
.pmi164{background-position: -64px -224px;}
.pmi165{background-position: -96px -224px;}
.pmi166{background-position: -128px -224px;}
.pmi167{background-position: -160px -224px;}
.pmi168{background-position: -192px -224px;}
.pmi169{background-position: -224px -224px;}
.pmi170{background-position: -256px -224px;}
.pmi171{background-position: -288px -224px;}
.pmi172{background-position: -320px -224px;}
.pmi173{background-position: -352px -224px;}
.pmi174{background-position: -384px -224px;}
.pmi175{background-position: -416px -224px;}
.pmi176{background-position: -448px -224px;}
.pmi177{background-position: -480px -224px;}
.pmi178{background-position: -512px -224px;}
.pmi179{background-position: -544px -224px;}
.pmi180{background-position: -576px -224px;}
.pmi181{background-position: -608px -224px;}
.pmi182{background-position: -640px -224px;}
.pmi183{background-position: -672px -224px;}
.pmi184{background-position: -704px -224px;}
.pmi185{background-position: -0px -256px;}
.pmi186{background-position: -32px -256px;}
.pmi187{background-position: -64px -256px;}
.pmi188{background-position: -96px -256px;}
.pmi189{background-position: -128px -256px;}
.pmi190{background-position: -160px -256px;}
.pmi191{background-position: -192px -256px;}
.pmi192{background-position: -224px -256px;}
.pmi193{background-position: -256px -256px;}
.pmi194{background-position: -288px -256px;}
.pmi195{background-position: -320px -256px;}
.pmi196{background-position: -352px -256px;}
.pmi197{background-position: -384px -256px;}
.pmi198{background-position: -416px -256px;}
.pmi199{background-position: -448px -256px;}
.pmi200{background-position: -480px -256px;}
.pmi201{background-position: -512px -256px;}
.pmi202{background-position: -544px -256px;}
.pmi203{background-position: -576px -256px;}
.pmi204{background-position: -608px -256px;}
.pmi205{background-position: -640px -256px;}
.pmi206{background-position: -672px -256px;}
.pmi207{background-position: -704px -256px;}
.pmi208{background-position: -0px -288px;}
.pmi209{background-position: -32px -288px;}
.pmi210{background-position: -64px -288px;}
.pmi211{background-position: -96px -288px;}
.pmi212{background-position: -128px -288px;}
.pmi213{background-position: -160px -288px;}
.pmi214{background-position: -192px -288px;}
.pmi215{background-position: -224px -288px;}
.pmi216{background-position: -256px -288px;}
.pmi217{background-position: -288px -288px;}
.pmi218{background-position: -320px -288px;}
.pmi219{background-position: -352px -288px;}
.pmi220{background-position: -384px -288px;}
.pmi221{background-position: -416px -288px;}
.pmi222{background-position: -448px -288px;}
.pmi223{background-position: -480px -288px;}
.pmi224{background-position: -512px -288px;}
.pmi225{background-position: -544px -288px;}
.pmi226{background-position: -576px -288px;}
.pmi227{background-position: -608px -288px;}
.pmi228{background-position: -640px -288px;}
.pmi229{background-position: -672px -288px;}
.pmi230{background-position: -704px -288px;}
.pmi231{background-position: -0px -320px;}
.pmi232{background-position: -32px -320px;}
.pmi233{background-position: -64px -320px;}
.pmi234{background-position: -96px -320px;}
.pmi235{background-position: -128px -320px;}
.pmi236{background-position: -160px -320px;}
.pmi237{background-position: -192px -320px;}
.pmi238{background-position: -224px -320px;}
.pmi239{background-position: -256px -320px;}
.pmi240{background-position: -288px -320px;}
.pmi241{background-position: -320px -320px;}
.pmi242{background-position: -352px -320px;}
.pmi243{background-position: -384px -320px;}
.pmi244{background-position: -416px -320px;}
.pmi245{background-position: -448px -320px;}
.pmi246{background-position: -480px -320px;}
.pmi247{background-position: -512px -320px;}
.pmi248{background-position: -544px -320px;}
.pmi249{background-position: -576px -320px;}
.pmi250{background-position: -608px -320px;}
.pmi251{background-position: -640px -320px;}
.pmi252{background-position: -672px -320px;}
.pmi253{background-position: -704px -320px;}
.pmi254{background-position: -0px -352px;}
.pmi255{background-position: -32px -352px;}
.pmi256{background-position: -64px -352px;}
.pmi257{background-position: -96px -352px;}
.pmi258{background-position: -128px -352px;}
.pmi259{background-position: -160px -352px;}
.pmi260{background-position: -192px -352px;}
.pmi261{background-position: -224px -352px;}
.pmi262{background-position: -256px -352px;}
.pmi263{background-position: -288px -352px;}
.pmi264{background-position: -320px -352px;}
.pmi265{background-position: -352px -352px;}
.pmi266{background-position: -384px -352px;}
.pmi267{background-position: -416px -352px;}
.pmi268{background-position: -448px -352px;}
.pmi269{background-position: -480px -352px;}
.pmi270{background-position: -512px -352px;}
.pmi271{background-position: -544px -352px;}
.pmi272{background-position: -576px -352px;}
.pmi273{background-position: -608px -352px;}
.pmi274{background-position: -640px -352px;}
.pmi275{background-position: -672px -352px;}
.pmi276{background-position: -704px -352px;}
.pmi277{background-position: -0px -384px;}
.pmi278{background-position: -32px -384px;}
.pmi279{background-position: -64px -384px;}
.pmi280{background-position: -96px -384px;}
.pmi281{background-position: -128px -384px;}
.pmi282{background-position: -160px -384px;}
.pmi283{background-position: -192px -384px;}
.pmi284{background-position: -224px -384px;}
.pmi285{background-position: -256px -384px;}
.pmi286{background-position: -288px -384px;}
.pmi287{background-position: -320px -384px;}
.pmi288{background-position: -352px -384px;}
.pmi289{background-position: -384px -384px;}
.pmi290{background-position: -416px -384px;}
.pmi291{background-position: -448px -384px;}
.pmi292{background-position: -480px -384px;}
.pmi293{background-position: -512px -384px;}
.pmi294{background-position: -544px -384px;}
.pmi295{background-position: -576px -384px;}
.pmi296{background-position: -608px -384px;}
.pmi297{background-position: -640px -384px;}
.pmi298{background-position: -672px -384px;}
.pmi299{background-position: -704px -384px;}
.pmi300{background-position: -0px -416px;}
.pmi301{background-position: -32px -416px;}
.pmi302{background-position: -64px -416px;}
.pmi303{background-position: -96px -416px;}
.pmi304{background-position: -128px -416px;}
.pmi305{background-position: -160px -416px;}
.pmi306{background-position: -192px -416px;}
.pmi307{background-position: -224px -416px;}
.pmi308{background-position: -256px -416px;}
.pmi309{background-position: -288px -416px;}
.pmi310{background-position: -320px -416px;}
.pmi311{background-position: -352px -416px;}
.pmi312{background-position: -384px -416px;}
.pmi313{background-position: -416px -416px;}
.pmi314{background-position: -448px -416px;}
.pmi315{background-position: -480px -416px;}
.pmi316{background-position: -512px -416px;}
.pmi317{background-position: -544px -416px;}
.pmi318{background-position: -576px -416px;}
.pmi319{background-position: -608px -416px;}
.pmi320{background-position: -640px -416px;}
.pmi321{background-position: -672px -416px;}
.pmi322{background-position: -704px -416px;}
.pmi323{background-position: -0px -448px;}
.pmi324{background-position: -32px -448px;}
.pmi325{background-position: -64px -448px;}
.pmi326{background-position: -96px -448px;}
.pmi327{background-position: -128px -448px;}
.pmi328{background-position: -160px -448px;}
.pmi329{background-position: -192px -448px;}
.pmi330{background-position: -224px -448px;}
.pmi331{background-position: -256px -448px;}
.pmi332{background-position: -288px -448px;}
.pmi333{background-position: -320px -448px;}
.pmi334{background-position: -352px -448px;}
.pmi335{background-position: -384px -448px;}
.pmi336{background-position: -416px -448px;}
.pmi337{background-position: -448px -448px;}
.pmi338{background-position: -480px -448px;}
.pmi339{background-position: -512px -448px;}
.pmi340{background-position: -544px -448px;}
.pmi341{background-position: -576px -448px;}
.pmi342{background-position: -608px -448px;}
.pmi343{background-position: -640px -448px;}
.pmi344{background-position: -672px -448px;}
.pmi345{background-position: -704px -448px;}
.pmi346{background-position: -0px -480px;}
.pmi347{background-position: -32px -480px;}
.pmi348{background-position: -64px -480px;}
.pmi349{background-position: -96px -480px;}
.pmi350{background-position: -128px -480px;}
.pmi351{background-position: -160px -480px;}
.pmi352{background-position: -192px -480px;}
.pmi353{background-position: -224px -480px;}
.pmi354{background-position: -256px -480px;}
.pmi355{background-position: -288px -480px;}
.pmi356{background-position: -320px -480px;}
.pmi357{background-position: -352px -480px;}
.pmi358{background-position: -384px -480px;}
.pmi359{background-position: -416px -480px;}
.pmi360{background-position: -448px -480px;}
.pmi361{background-position: -480px -480px;}
.pmi362{background-position: -512px -480px;}
.pmi363{background-position: -544px -480px;}
.pmi364{background-position: -576px -480px;}
.pmi365{background-position: -608px -480px;}
.pmi366{background-position: -640px -480px;}
.pmi367{background-position: -672px -480px;}
.pmi368{background-position: -704px -480px;}
.pmi369{background-position: -0px -512px;}
.pmi370{background-position: -32px -512px;}
.pmi371{background-position: -64px -512px;}
.pmi372{background-position: -96px -512px;}
.pmi373{background-position: -128px -512px;}
.pmi374{background-position: -160px -512px;}
.pmi375{background-position: -192px -512px;}
.pmi376{background-position: -224px -512px;}
.pmi377{background-position: -256px -512px;}
.pmi378{background-position: -288px -512px;}
.pmi379{background-position: -320px -512px;}
.pmi380{background-position: -352px -512px;}
.pmi381{background-position: -384px -512px;}
.pmi382{background-position: -416px -512px;}
.pmi383{background-position: -448px -512px;}
.pmi384{background-position: -480px -512px;}
.pmi385{background-position: -512px -512px;}
.pmi386{background-position: -544px -512px;}
.pmi387{background-position: -576px -512px;}
.pmi388{background-position: -608px -512px;}
.pmi389{background-position: -640px -512px;}
.pmi390{background-position: -672px -512px;}
.pmi391{background-position: -704px -512px;}
.pmi392{background-position: -0px -544px;}
.pmi393{background-position: -32px -544px;}
.pmi394{background-position: -64px -544px;}
.pmi395{background-position: -96px -544px;}
.pmi396{background-position: -128px -544px;}
.pmi397{background-position: -160px -544px;}
.pmi398{background-position: -192px -544px;}
.pmi399{background-position: -224px -544px;}
.pmi400{background-position: -256px -544px;}
.pmi401{background-position: -288px -544px;}
.pmi402{background-position: -320px -544px;}
.pmi403{background-position: -352px -544px;}
.pmi404{background-position: -384px -544px;}
.pmi405{background-position: -416px -544px;}
.pmi406{background-position: -448px -544px;}
.pmi407{background-position: -480px -544px;}
.pmi408{background-position: -512px -544px;}
.pmi409{background-position: -544px -544px;}
.pmi410{background-position: -576px -544px;}
.pmi411{background-position: -608px -544px;}
.pmi412{background-position: -640px -544px;}
.pmi413{background-position: -672px -544px;}
.pmi414{background-position: -704px -544px;}
.pmi415{background-position: -0px -576px;}
.pmi416{background-position: -32px -576px;}
.pmi417{background-position: -64px -576px;}
.pmi418{background-position: -96px -576px;}
.pmi419{background-position: -128px -576px;}
.pmi420{background-position: -160px -576px;}
.pmi421{background-position: -192px -576px;}
.pmi422{background-position: -224px -576px;}
.pmi423{background-position: -256px -576px;}
.pmi424{background-position: -288px -576px;}
.pmi425{background-position: -320px -576px;}
.pmi426{background-position: -352px -576px;}
.pmi427{background-position: -384px -576px;}
.pmi428{background-position: -416px -576px;}
.pmi429{background-position: -448px -576px;}
.pmi430{background-position: -480px -576px;}
.pmi431{background-position: -512px -576px;}
.pmi432{background-position: -544px -576px;}
.pmi433{background-position: -576px -576px;}
.pmi434{background-position: -608px -576px;}
.pmi435{background-position: -640px -576px;}
.pmi436{background-position: -672px -576px;}
.pmi437{background-position: -704px -576px;}
.pmi438{background-position: -0px -608px;}
.pmi439{background-position: -32px -608px;}
.pmi440{background-position: -64px -608px;}
.pmi441{background-position: -96px -608px;}
.pmi442{background-position: -128px -608px;}
.pmi443{background-position: -160px -608px;}
.pmi444{background-position: -192px -608px;}
.pmi445{background-position: -224px -608px;}
.pmi446{background-position: -256px -608px;}
.pmi447{background-position: -288px -608px;}
.pmi448{background-position: -320px -608px;}
.pmi449{background-position: -352px -608px;}
.pmi450{background-position: -384px -608px;}
.pmi451{background-position: -416px -608px;}
.pmi452{background-position: -448px -608px;}
.pmi453{background-position: -480px -608px;}
.pmi454{background-position: -512px -608px;}
.pmi455{background-position: -544px -608px;}
.pmi456{background-position: -576px -608px;}
.pmi457{background-position: -608px -608px;}
.pmi458{background-position: -640px -608px;}
.pmi459{background-position: -672px -608px;}
.pmi460{background-position: -704px -608px;}
.pmi461{background-position: -0px -640px;}
.pmi462{background-position: -32px -640px;}
.pmi463{background-position: -64px -640px;}
.pmi464{background-position: -96px -640px;}
.pmi465{background-position: -128px -640px;}
.pmi466{background-position: -160px -640px;}
.pmi467{background-position: -192px -640px;}
.pmi468{background-position: -224px -640px;}
.pmi469{background-position: -256px -640px;}
.pmi470{background-position: -288px -640px;}
.pmi471{background-position: -320px -640px;}
.pmi472{background-position: -352px -640px;}
.pmi473{background-position: -384px -640px;}
.pmi474{background-position: -416px -640px;}
.pmi475{background-position: -448px -640px;}
.pmi476{background-position: -480px -640px;}
.pmi477{background-position: -512px -640px;}
.pmi478{background-position: -544px -640px;}
.pmi479{background-position: -576px -640px;}
.pmi480{background-position: -608px -640px;}
.pmi481{background-position: -640px -640px;}
.pmi482{background-position: -672px -640px;}
.pmi483{background-position: -704px -640px;}
.pmi484{background-position: -0px -672px;}
.pmi485{background-position: -32px -672px;}
.pmi486{background-position: -64px -672px;}
.pmi487{background-position: -96px -672px;}
.pmi488{background-position: -128px -672px;}
.pmi489{background-position: -160px -672px;}
.pmi490{background-position: -192px -672px;}
.pmi491{background-position: -224px -672px;}
.pmi492{background-position: -256px -672px;}
.pmi493{background-position: -288px -672px;}




.pmi494{background-position: -0px -768px;}
.pmi495{background-position: -32px -768px;}
.pmi496{background-position: -64px -768px;}
.pmi497{background-position: -96px -768px;}
.pmi498{background-position: -128px -768px;}
.pmi499{background-position: -160px -768px;}
.pmi500{background-position: -192px -768px;}
.pmi501{background-position: -224px -768px;}
.pmi502{background-position: -256px -768px;}
.pmi503{background-position: -288px -768px;}
.pmi504{background-position: -320px -768px;}
.pmi505{background-position: -352px -768px;}
.pmi506{background-position: -384px -768px;}
.pmi507{background-position: -416px -768px;}
.pmi508{background-position: -448px -768px;}
.pmi509{background-position: -480px -768px;}
.pmi510{background-position: -512px -768px;}
.pmi511{background-position: -544px -768px;}
.pmi512{background-position: -576px -768px;}
.pmi513{background-position: -608px -768px;}
.pmi514{background-position: -640px -768px;}
.pmi515{background-position: -672px -768px;}
.pmi516{background-position: -704px -768px;}
.pmi517{background-position: -0px -800px;}
.pmi518{background-position: -32px -800px;}
.pmi519{background-position: -64px -800px;}
.pmi520{background-position: -96px -800px;}
.pmi521{background-position: -128px -800px;}
.pmi522{background-position: -160px -800px;}
.pmi523{background-position: -192px -800px;}
.pmi524{background-position: -224px -800px;}
.pmi525{background-position: -256px -800px;}
.pmi526{background-position: -288px -800px;}
.pmi527{background-position: -320px -800px;}
.pmi528{background-position: -352px -800px;}
.pmi529{background-position: -384px -800px;}
.pmi530{background-position: -416px -800px;}
.pmi531{background-position: -448px -800px;}
.pmi532{background-position: -480px -800px;}
.pmi533{background-position: -512px -800px;}
.pmi534{background-position: -544px -800px;}
.pmi535{background-position: -576px -800px;}
.pmi536{background-position: -608px -800px;}
.pmi537{background-position: -640px -800px;}
.pmi538{background-position: -672px -800px;}
.pmi539{background-position: -704px -800px;}
.pmi540{background-position: -0px -832px;}
.pmi541{background-position: -32px -832px;}
.pmi542{background-position: -64px -832px;}
.pmi543{background-position: -96px -832px;}
.pmi544{background-position: -128px -832px;}
.pmi545{background-position: -160px -832px;}
.pmi546{background-position: -192px -832px;}
.pmi547{background-position: -224px -832px;}
.pmi548{background-position: -256px -832px;}
.pmi549{background-position: -288px -832px;}
.pmi550{background-position: -320px -832px;}
.pmi551{background-position: -352px -832px;}
.pmi552{background-position: -384px -832px;}
.pmi553{background-position: -416px -832px;}
.pmi554{background-position: -448px -832px;}
.pmi555{background-position: -480px -832px;}
.pmi556{background-position: -512px -832px;}
.pmi557{background-position: -544px -832px;}
.pmi558{background-position: -576px -832px;}
.pmi559{background-position: -608px -832px;}
.pmi560{background-position: -640px -832px;}
.pmi561{background-position: -672px -832px;}
.pmi562{background-position: -704px -832px;}
.pmi563{background-position: -0px -864px;}
.pmi564{background-position: -32px -864px;}
.pmi565{background-position: -64px -864px;}
.pmi566{background-position: -96px -864px;}
.pmi567{background-position: -128px -864px;}
.pmi568{background-position: -160px -864px;}
.pmi569{background-position: -192px -864px;}
.pmi570{background-position: -224px -864px;}
.pmi571{background-position: -256px -864px;}
.pmi572{background-position: -288px -864px;}
.pmi573{background-position: -320px -864px;}
.pmi574{background-position: -352px -864px;}
.pmi575{background-position: -384px -864px;}
.pmi576{background-position: -416px -864px;}
.pmi577{background-position: -448px -864px;}
.pmi578{background-position: -480px -864px;}
.pmi579{background-position: -512px -864px;}
.pmi580{background-position: -544px -864px;}
.pmi581{background-position: -576px -864px;}
.pmi582{background-position: -608px -864px;}
.pmi583{background-position: -640px -864px;}
.pmi584{background-position: -672px -864px;}
.pmi585{background-position: -704px -864px;}
.pmi586{background-position: -0px -896px;}
.pmi587{background-position: -32px -896px;}
.pmi588{background-position: -64px -896px;}
.pmi589{background-position: -96px -896px;}
.pmi590{background-position: -128px -896px;}
.pmi591{background-position: -160px -896px;}
.pmi592{background-position: -192px -896px;}
.pmi593{background-position: -224px -896px;}
.pmi594{background-position: -256px -896px;}
.pmi595{background-position: -288px -896px;}
.pmi596{background-position: -320px -896px;}
.pmi597{background-position: -352px -896px;}
.pmi598{background-position: -384px -896px;}
.pmi599{background-position: -416px -896px;}
.pmi600{background-position: -448px -896px;}
.pmi601{background-position: -480px -896px;}
.pmi602{background-position: -512px -896px;}
.pmi603{background-position: -544px -896px;}
.pmi604{background-position: -576px -896px;}
.pmi605{background-position: -608px -896px;}
.pmi606{background-position: -640px -896px;}
.pmi607{background-position: -672px -896px;}
.pmi608{background-position: -704px -896px;}
.pmi609{background-position: -0px -928px;}
.pmi610{background-position: -32px -928px;}
.pmi611{background-position: -64px -928px;}
.pmi612{background-position: -96px -928px;}
.pmi613{background-position: -128px -928px;}
.pmi614{background-position: -160px -928px;}
.pmi615{background-position: -192px -928px;}
.pmi616{background-position: -224px -928px;}
.pmi617{background-position: -256px -928px;}
.pmi618{background-position: -288px -928px;}
.pmi619{background-position: -320px -928px;}
.pmi620{background-position: -352px -928px;}
.pmi621{background-position: -384px -928px;}
.pmi622{background-position: -416px -928px;}
.pmi623{background-position: -448px -928px;}
.pmi624{background-position: -480px -928px;}
.pmi625{background-position: -512px -928px;}
.pmi626{background-position: -544px -928px;}
.pmi627{background-position: -576px -928px;}
.pmi628{background-position: -608px -928px;}
.pmi629{background-position: -640px -928px;}
.pmi630{background-position: -672px -928px;}
.pmi631{background-position: -704px -928px;}
.pmi632{background-position: -0px -960px;}
.pmi633{background-position: -32px -960px;}
.pmi634{background-position: -64px -960px;}
.pmi635{background-position: -96px -960px;}
.pmi636{background-position: -128px -960px;}
.pmi637{background-position: -160px -960px;}
.pmi638{background-position: -192px -960px;}
.pmi639{background-position: -224px -960px;}
.pmi640{background-position: -256px -960px;}
.pmi641{background-position: -288px -960px;}
.pmi642{background-position: -320px -960px;}
.pmi643{background-position: -352px -960px;}
.pmi644{background-position: -384px -960px;}
.pmi645{background-position: -416px -960px;}
.pmi646{background-position: -448px -960px;}
.pmi647{background-position: -480px -960px;}
.pmi648{background-position: -512px -960px;}
.pmi649{background-position: -544px -960px;}
.pmi650{background-position: -576px -960px;}
.pmi651{background-position: -608px -960px;}

.pmi652{background-position:-0px -992px;}
.pmi653{background-position:-32px -992px;}
.pmi654{background-position:-64px -992px;}
.pmi655{background-position:-96px -992px;}
.pmi656{background-position:-128px -992px;}
.pmi657{background-position:-160px -992px;}

.pmi867{ background-position:-352px -672px;}
.pmi868{ background-position:-384px -672px;}
.pmi869{ background-position:-416px -672px;}
.pmi870{ background-position:-448px -672px;}
.pmi871{ background-position:-480px -672px;}
.pmi872{background-position:-512px -672px;}
.pmi873{background-position:-544px -672px;}
.pmi874{background-position:-576px -672px;}
.pmi875{background-position:-608px -672px;}
.pmi876{background-position:-640px -672px;}
.pmi877{background-position:-672px -672px;}

.pmi878{background-position:-704px -672px;}

.pmi879{background-position:0px -704px;}
.pmi880{background-position:-32px -704px;}
.pmi881{background-position:-64px -704px;}
.pmi882{background-position:-96px -704px;}
.pmi883{background-position:-128px -704px;}
.pmi884{background-position:-160px -704px;}
.pmi885{background-position:-192px -704px;}
.pmi886{background-position:-224px -704px;}
.pmi887{background-position:-256px -704px;}
.pmi888{background-position:-288px -704px;}
.pmi889{background-position:-320px -704px;}
.pmi890{background-position:-352px -704px;}
.pmi891{background-position:-384px -704px;}
.pmi892{background-position:-416px -704px;}
.pmi893{background-position:-448px -704px;}
.pmi894{background-position:-480px -704px;}
.pmi895{background-position:-512px -704px;}
.pmi896{background-position:-544px -704px;}
.pmi897{background-position:-576px -704px;}
.pmi898{background-position:-608px -704px;}
.pmi899{background-position:-640px -704px;}
.pmi990{background-position:-672px -704px;}
.pmi991{background-position:-704px -704px;}

.pmi992{background-position:0px -736px;}
.pmi993{background-position:-32px -736px;}
.pmi994{background-position:-64px -736px;}
.pmi995{background-position:-96px -736px;}
.pmi996{background-position:-128px -736px;}
.pmi997{background-position:-160px -736px;}
.pmi998{background-position:-192px -736px;}
.pmi999{background-position:-224px -736px;}




.rbi{background:url(ribbons.png) left top no-repeat; width:32px; height:32px;margin:auto;}

.rbi1{background-position: -0px -0px;}
.rbi10{background-position: -32px -0px;}
.rbi11{background-position: -64px -0px;}
.rbi12{background-position: -96px -0px;}
.rbi13{background-position: -128px -0px;}
.rbi14{background-position: -160px -0px;}
.rbi15{background-position: -192px -0px;}
.rbi16{background-position: -224px -0px;}
.rbi17{background-position: -256px -0px;}
.rbi18{background-position: -0px -32px;}
.rbi19{background-position: -32px -32px;}
.rbi2{background-position: -64px -32px;}
.rbi20{background-position: -96px -32px;}
.rbi21{background-position: -128px -32px;}
.rbi22{background-position: -160px -32px;}
.rbi23{background-position: -192px -32px;}
.rbi24{background-position: -224px -32px;}
.rbi25{background-position: -256px -32px;}
.rbi26{background-position: -0px -64px;}
.rbi27{background-position: -32px -64px;}
.rbi28{background-position: -64px -64px;}
.rbi29{background-position: -96px -64px;}
.rbi3{background-position: -128px -64px;}
.rbi30{background-position: -160px -64px;}
.rbi31{background-position: -192px -64px;}
.rbi32{background-position: -224px -64px;}
.rbi33{background-position: -256px -64px;}
.rbi34{background-position: -0px -96px;}
.rbi35{background-position: -32px -96px;}
.rbi36{background-position: -64px -96px;}
.rbi37{background-position: -96px -96px;}
.rbi38{background-position: -128px -96px;}
.rbi39{background-position: -160px -96px;}
.rbi4{background-position: -192px -96px;}
.rbi40{background-position: -224px -96px;}
.rbi41{background-position: -256px -96px;}
.rbi42{background-position: -0px -128px;}
.rbi43{background-position: -32px -128px;}
.rbi44{background-position: -64px -128px;}
.rbi45{background-position: -96px -128px;}
.rbi46{background-position: -128px -128px;}
.rbi47{background-position: -160px -128px;}
.rbi48{background-position: -192px -128px;}
.rbi49{background-position: -224px -128px;}
.rbi5{background-position: -256px -128px;}
.rbi50{background-position: -0px -160px;}
.rbi51{background-position: -32px -160px;}
.rbi52{background-position: -64px -160px;}
.rbi53{background-position: -96px -160px;}
.rbi54{background-position: -128px -160px;}
.rbi55{background-position: -160px -160px;}
.rbi56{background-position: -192px -160px;}
.rbi57{background-position: -224px -160px;}
.rbi58{background-position: -256px -160px;}
.rbi59{background-position: -0px -192px;}
.rbi6{background-position: -32px -192px;}
.rbi60{background-position: -64px -192px;}
.rbi61{background-position: -96px -192px;}
.rbi62{background-position: -128px -192px;}
.rbi63{background-position: -160px -192px;}
.rbi64{background-position: -192px -192px;}
.rbi65{background-position: -224px -192px;}
.rbi66{background-position: -256px -192px;}
.rbi67{background-position: -0px -224px;}
.rbi68{background-position: -32px -224px;}
.rbi69{background-position: -64px -224px;}
.rbi7{background-position: -96px -224px;}
.rbi70{background-position: -128px -224px;}
.rbi71{background-position: -160px -224px;}
.rbi72{background-position: -192px -224px;}
.rbi73{background-position: -224px -224px;}
.rbi74{background-position: -256px -224px;}
.rbi75{background-position: -0px -256px;}
.rbi76{background-position: -32px -256px;}
.rbi77{background-position: -64px -256px;}
.rbi78{background-position: -96px -256px;}
.rbi79{background-position: -128px -256px;}
.rbi8{background-position: -160px -256px;}
.rbi80{background-position: -192px -256px;}
.rbi9{background-position: -224px -256px;}
.rbi022{background-position:-256px -256px;}
.rbi023{background-position:-0px -288px;}
.rbi024{background-position:-32px -288px;}
.rbi054{background-position:-64px -288px;}
.rbi055{background-position:-96px -288px;}

.e-sprite{
background-image:url(http://www.pokedit.com/images/editor/slot-page/event_icon.png);
background-repeat:no-repeat;
background-position:bottom right;
height:32px;
width:32px;
}
.egg-sprite{
background-image:url(http://www.pokedit.com/images/editor/slot-page/egg-sprite.png);
background-repeat:no-repeat;
background-position:bottom right;
height:32px;
position:relative;
width:32px;
}

.rbi{background:url(../images/ribbons.png) left top no-repeat; width:32px; height:32px;margin:auto;}

.rbi1{background-position: -0px -0px;}
.rbi10{background-position: -32px -0px;}
.rbi11{background-position: -64px -0px;}
.rbi12{background-position: -96px -0px;}
.rbi13{background-position: -128px -0px;}
.rbi14{background-position: -160px -0px;}
.rbi15{background-position: -192px -0px;}
.rbi16{background-position: -224px -0px;}
.rbi17{background-position: -256px -0px;}
.rbi18{background-position: -0px -32px;}
.rbi19{background-position: -32px -32px;}
.rbi2{background-position: -64px -32px;}
.rbi20{background-position: -96px -32px;}
.rbi21{background-position: -128px -32px;}
.rbi22{background-position: -160px -32px;}
.rbi23{background-position: -192px -32px;}
.rbi24{background-position: -224px -32px;}
.rbi25{background-position: -256px -32px;}
.rbi26{background-position: -0px -64px;}
.rbi27{background-position: -32px -64px;}
.rbi28{background-position: -64px -64px;}
.rbi29{background-position: -96px -64px;}
.rbi3{background-position: -128px -64px;}
.rbi30{background-position: -160px -64px;}
.rbi31{background-position: -192px -64px;}
.rbi32{background-position: -224px -64px;}
.rbi33{background-position: -256px -64px;}
.rbi34{background-position: -0px -96px;}
.rbi35{background-position: -32px -96px;}
.rbi36{background-position: -64px -96px;}
.rbi37{background-position: -96px -96px;}
.rbi38{background-position: -128px -96px;}
.rbi39{background-position: -160px -96px;}
.rbi4{background-position: -192px -96px;}
.rbi40{background-position: -224px -96px;}
.rbi41{background-position: -256px -96px;}
.rbi42{background-position: -0px -128px;}
.rbi43{background-position: -32px -128px;}
.rbi44{background-position: -64px -128px;}
.rbi45{background-position: -96px -128px;}
.rbi46{background-position: -128px -128px;}
.rbi47{background-position: -160px -128px;}
.rbi48{background-position: -192px -128px;}
.rbi49{background-position: -224px -128px;}
.rbi5{background-position: -256px -128px;}
.rbi50{background-position: -0px -160px;}
.rbi51{background-position: -32px -160px;}
.rbi52{background-position: -64px -160px;}
.rbi53{background-position: -96px -160px;}
.rbi54{background-position: -128px -160px;}
.rbi55{background-position: -160px -160px;}
.rbi56{background-position: -192px -160px;}
.rbi57{background-position: -224px -160px;}
.rbi58{background-position: -256px -160px;}
.rbi59{background-position: -0px -192px;}
.rbi6{background-position: -32px -192px;}
.rbi60{background-position: -64px -192px;}
.rbi61{background-position: -96px -192px;}
.rbi62{background-position: -128px -192px;}
.rbi63{background-position: -160px -192px;}
.rbi64{background-position: -192px -192px;}
.rbi65{background-position: -224px -192px;}
.rbi66{background-position: -256px -192px;}
.rbi67{background-position: -0px -224px;}
.rbi68{background-position: -32px -224px;}
.rbi69{background-position: -64px -224px;}
.rbi7{background-position: -96px -224px;}
.rbi70{background-position: -128px -224px;}
.rbi71{background-position: -160px -224px;}
.rbi72{background-position: -192px -224px;}
.rbi73{background-position: -224px -224px;}
.rbi74{background-position: -256px -224px;}
.rbi75{background-position: -0px -256px;}
.rbi76{background-position: -32px -256px;}
.rbi77{background-position: -64px -256px;}
.rbi78{background-position: -96px -256px;}
.rbi79{background-position: -128px -256px;}
.rbi8{background-position: -160px -256px;}
.rbi80{background-position: -192px -256px;}
.rbi9{background-position: -224px -256px;}
.rbi022{background-position:-256px -256px;}
.rbi023{background-position:-0px -288px;}
.rbi024{background-position:-32px -288px;}
.rbi054{background-position:-64px -288px;}
.rbi055{background-position:-96px -288px;}
